.intro-wrapper{
    background-color: #FBF9F9;
    width: 100%;
    height: 50rem;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    justify-content: center;
    align-items: center;
}

.intro-content {
    background-color: #231F20;
    height: 362px;
    width: 550px;
    margin-left: 5rem;
    grid-column: 2/3;
    box-shadow:2px 0px 20px rgba(0,0,0,0.4);
    padding: 4rem 6rem;

    p{
        font-size: 18px;
        color: white;
        padding-top: 13px;
        font-weight: 10;
    }

    h5{
        font-size: 30px;
        color: white;
        padding: 20px 0px;
    }

    .cv-button{
        display: flex;
        margin-top: 35px;
        justify-content: center;
        align-items: center;
        background-color:#EFDA8E;
        height: 45px;
        width: 171px;
        border: none;
        text-decoration: none;
        font-size: 20px;
        color: rgb(49, 49, 49);
    }

    .cv-button:hover {
        background: #d4be6b;
        transition: all ease 0.5s;
    }
}

.intro-profilePicture {
    display: grid;
    grid-column: 3/4;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    
}

.intro-img {
    width: 535px;
    height: 576px;
}



