* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #343434;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
}

.logo {
    color: #E7B944;
    letter-spacing: 4px;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.intro-container {
    width: 100%;
    height: 50rem;
}

.main-container {
    width: 100%;
    height: 60rem;
}

.contact-container {
    width: 100%; 
    height: 30rem;
}

footer {
    height: 10rem;
    width: 100%;
    background-color: #343434;
}

@import 'intro';
@import 'about';
@import 'skills';
@import 'portfolio';