* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    width: 1920px;
    height: 1080px;
    scroll-behavior: smooth;
}

// Navbar

nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #FBF9F9;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}

.nav-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:75%;

    .logo {
        letter-spacing: 5px;
        #lg {
            font-size: 3vh;
            color: black;
        }
    }
    
    .nav-links {
        display: flex;
        width: 25%;
        justify-content: space-around;
    }
    
    .nav-links li{
        font-size: 20px;
        list-style: none;
        font-weight: 800;
    }
    
    .nav-links a {
        color: black;
        text-decoration: none;
        letter-spacing: 2px;
    }
}



.intro-container {
    width: 100%;
    height: 50rem;
}

.main-container {
    width: 100%;
    height: 60rem;
}

.contact-container {
    width: 100%; 
    height: 30rem;
}

// Footer

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10rem;
    width: 100%;
    background-color: #343434;
    h1{
        font-size: 35px;
        padding-right: 30px;
    }

    h4{
        color: white;
        padding-left: 80px;
    }
}

// Animation
.introAnimation{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.slider{
    background: rgb(126, 128, 133);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 2;
}

.introAnimation-text {
    color: rgb(111, 111, 190);
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
    font-family: 'Heebo', sans-serif;
    font-size: 5rem;
}

@import 'intro';
@import 'about';
@import 'skills';
@import 'portfolio';
@import 'contact';



@media screen and (max-width: 900px){
    
}